<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.bb.ssm.mapper.BoutiqueInfoMapper" >
  <resultMap id="BaseResultMap" type="org.bb.ssm.model.Boutique" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="VARCHAR" />
    <result column="teacher_id" property="teacher_id" jdbcType="INTEGER" />
    <result column="course_id" property="course_id" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="VARCHAR" />
    <result column="examine_time" property="examine_time" jdbcType="VARCHAR" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="tname" property="tname" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,num,teacher_id,course_id,addtime,examine_time,status

  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from uek_acdemic_boutique_course
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <update id="updateStatusById" parameterType="org.bb.ssm.model.Boutique" >
    update uek_acdemic_boutique_course
    set status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="findAll" resultMap="BaseResultMap">
  	SELECT a.*,b.name cname,c.name tname FROM uek_acdemic_boutique_course a
  		left join uek_acdemic_course b on a.course_id=b.id
  		left join uek_acdemic_teacher c on a.teacher_id=c.id
  	 	limit 10
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from uek_acdemic_boutique_course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.bb.ssm.model.Boutique" >
    insert into uek_acdemic_boutique_course (teacher_id, course_id)
    values (#{teacher_id,jdbcType=INTEGER}, #{course_id,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.bb.ssm.model.Boutique" >
    insert into uek_acdemic_boutique_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
     
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.bb.ssm.model.Boutique" >
    update uek_acdemic_boutique_course
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.bb.ssm.model.Boutique" >
    update uek_acdemic_boutique_course
    set name = #{name,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>