<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.bb.ssm.mapper.TeamInfoMapper" >
  <resultMap id="BaseResultMap" type="org.bb.ssm.model.Team" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="class_id" property="class_id" jdbcType="INTEGER" />
    <result column="headman" property="headman" jdbcType="INTEGER" />
    <result column="headstu" property="headstu" jdbcType="VARCHAR" />
    <result column="classname" property="classname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name , class_id , headman , headstu,classname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from uek_acdemic_project_team
    where id = #{id,jdbcType=INTEGER}
  </select>
  

  
  <select id="findAll" resultMap="BaseResultMap">
  	SELECT a.*,b.name headstu,c.name classname FROM uek_acdemic_project_team a left join uek_acdemic_students b on a.headman=b.id left join uek_acdemic_class c on a.class_id=c.id limit 10
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from uek_acdemic_project_team
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.bb.ssm.model.Team" >
    insert into uek_acdemic_project_team (id, name, summary)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.bb.ssm.model.Team" >
    insert into uek_acdemic_project_team
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
     
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.bb.ssm.model.Team" >
    update uek_acdemic_project_team
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.bb.ssm.model.Team" >
    update uek_acdemic_project_team
    set name = #{name,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>